html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background-color: #f8f8f9;
}

.card_courses:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.chakra-slide {
  max-width: 230px !important;
}

.active {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.navlink:hover {
  text-decoration: none !important;
}
.navlink_hover:hover svg, .navlink_hover:hover p {
  color: #32d4a4 !important;
}

.color_name {
  background: linear-gradient(45deg, #1dee8a, #3544e8);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.p-selectbutton .p-button.p-highlight {
  background-color: rgb(4, 122, 243);
  border-color: rgb(4, 122, 243);
  color: #FFFFFF;
  outline: none;
}
.p-selectbutton .p-button.p-highlight:hover {
  background-color: rgb(4, 122, 243);
  border-color: rgb(4, 122, 243);
}

.p-focus:focus {
  box-shadow: none;
}

.dark_mode .p-selectbutton .p-button:not(.p-highlight) {
  background-color: #2d3748 !important;
  border-color: #2d3748;
}
.dark_mode .p-selectbutton .p-button:not(.p-highlight):hover {
  border-color: #2d3748 !important;
}
.dark_mode .p-selectbutton .p-button:not(.p-highlight) i {
  color: #FFFFFF;
}

.p-column-header-content {
  justify-content: center;
}

.p-datatable-tbody td {
  text-align: center !important;
}
.p-datatable-tbody td img {
  margin: auto !important;
}
.p-datatable-tbody tr {
  cursor: pointer;
}
.p-datatable-tbody tr:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.dark-mode {
  background-color: #2d3748;
  border-bottom: 1px solid #323339 !important;
}
.dark-mode th {
  background-color: #2d3748 !important;
  border-bottom: 1px solid #323339 !important;
  color: #FFFFFF !important;
}

.chakra-slide {
  max-width: 515px !important;
}

.p-datepicker {
  border-radius: 14px !important;
  padding: 0 !important;
}

.p-datepicker-header {
  background-color: #f0f0f3 !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year:enabled:hover, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month:enabled:hover {
  color: #32d4a4;
}

.p-link:focus {
  box-shadow: none !important;
}

.p-datepicker .p-datepicker-header .p-datepicker-prev:focus, .p-datepicker .p-datepicker-header .p-datepicker-next:focus {
  box-shadow: none !important;
}

.p-datepicker table td.p-datepicker-today > span {
  border-radius: 5px;
}

.p-datepicker table td > span.p-highlight {
  color: #FFFFFF;
  background-color: #32d4a4;
  border-radius: 5px;
}

.p-datepicker table td.p-datepicker-today > span.p-highlight {
  color: #FFFFFF;
  background-color: #32d4a4;
  border-radius: 5px;
}

.p-datepicker table td {
  font-weight: bold;
}

.p-datepicker table th > span {
  color: #a5a8b3;
}

.p-datepicker-other-month {
  background-color: #e6e6ea;
}

.p-datepicker table td > span:focus {
  box-shadow: none !important;
}

.p-datepicker:not(.p-disabled) table td span:not(.p-highlight):not(.p-disabled):hover {
  background-color: rgba(38, 200, 171, 0.4);
  border-radius: 5px;
}

.dark_mode-calendar .p-datepicker {
  border: 1px solid #1d1e22 !important;
  background-color: #2d3748 !important;
}
.dark_mode-calendar .p-datepicker-header {
  background-color: #1d1e22 !important;
  color: #FFFFFF !important;
  border-color: #2d3748 !important;
}
.dark_mode-calendar .p-datepicker-calendar span {
  color: #FFFFFF !important;
}
.dark_mode-calendar .p-datepicker-other-month {
  background-color: #323339;
  color: #3d4150 !important;
}

.overlay::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 40%, rgba(0, 0, 0, 0.2));
}

button.ghost {
  background-color: rgba(225, 225, 225, 0.2);
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
}

button.ghost .icon {
  opacity: 0;
}

button.ghost:hover .icon {
  opacity: 1;
}

.right-panel-active .login {
  opacity: 0;
  transform: translateX(100%);
}

.right-panel-active .register {
  transform: translateX(100%);
  opacity: 1;
  z-index: 200;
  animation: show 0.6s;
}

.right-panel-active .overlay-container {
  transform: translate(-50%);
}

.right-panel-active .overlay {
  transform: translateX(50%);
}

.right-panel-active .overlay-left {
  transform: translateX(0);
  display: none;
}

.right-panel-active .overlay-right {
  opacity: 1;
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

/*# sourceMappingURL=styles.css.map */
